<%= form_for(@tfa) do |f| %>
  <% if @tfa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tfa.errors.count, "error") %> prohibited this tfa from being saved:</h2>

      <ul>
      <% @tfa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tfa_password %><br>
    <%= f.text_field :tfa_password %>
  </div>
  <div class="field">
    <%= f.label :attepmted %><br>
    <%= f.number_field :attepmted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
