<p id="notice"><%= notice %></p>

<h1>Listing Tfas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tfa password</th>
      <th>Attepmted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tfas.each do |tfa| %>
      <tr>
        <td><%= tfa.user %></td>
        <td><%= tfa.tfa_password %></td>
        <td><%= tfa.attepmted %></td>
        <td><%= link_to 'Show', tfa %></td>
        <td><%= link_to 'Edit', edit_tfa_path(tfa) %></td>
        <td><%= link_to 'Destroy', tfa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tfa', new_tfa_path %>
