<h1>Login</h1>

<p id="notice"><%= notice %></p>

<%= form_for(@user, url: login_url, method: :post) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, required: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Create new account?', sign_up_url %>
